<div class="row details">
    <div class="col-lg-4">
        <div class="info">Serial Number : RF343F0</div>
        <div class="info">Color : Black</div>
        <div class="info">Condtion : New</div>
        <div class="info">id : lpt000122</div>
    </div>
    <div class="col-lg-4">
        <div class="info">Name : Dell Laptop</div>
        <div class="info">Leased : Jason Mwangi</div>
        <div class="info">Warranty : 19/02/2021</div>
    </div>
    <div class="col-lg-4">
        <div class="info">Model : G250</div>
        <div class="info">Make : Hewlett Packard</div>
        <div class="info">purchased : 19/02/2019</div>
    </div>
    <!-- test -->
</div>