<div class="row details">
    <div class="col">
        <h5 class="header actions">Return Asset</h5>
    <h5  id="action mt-2"></h5>
    <div class="row">
        <div class="col-lg-4 mb-3">
            <label for="deviceType">Item Condtion</label>
            <select class='form-control form-control-sm' name='condition' id='fdfdfd'>
                <option value='bad'>Bad</option>
                <option value='modarate'>Moderate</option>
                <option value='good'>Good</option>
                <option value='Very_Good'>Very Good</option>
            </select>

        </div>
        <div class="col-lg-4">
                
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12">
                <label for='desc'>Codition Description</label>
                <textarea class="form-control col-lg-12" id="desc" rows="4"></textarea>
        </div>
    </div>

    <button class="btn btn-primary btn-sm mt-4 col-lg-3" id="sendReturnItem" onclick="returnItem()">submit</button>
    </div>
</div>