<div class="row details">
    <div id="pop" class="col-lg-12">
        <h5 id="action">Manage Item</h5>
        <!-- messages area -->
        <!-- body start -->
        <!-- top card  -->
        <div class="row details">
            <div class="col-lg-4">
                <div class='form-group'>
                    <label for='price'>Firstname</label>
                    <div class='input-group'>
                        <input required type='text' name='firstname' class='form-control form-control-sm' id='firstname' placeholder=''>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class='form-group'>
                    <label for='price'>Lastname</label>
                    <div class='input-group'>
                        <input required type='text' name='lastname' class='form-control form-control-sm' id='lastname' placeholder=''>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class='form-group'>
                    <label for='price'>staff Number</label>
                    <span style="color: blue;"> — <span id="infoMessages"></span></span>
                    <input type="text" class="form-control form-control-sm" list="staffNumberList"
                        id="staffNumberList" oninput="getstaffNumberUsers(this)">
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row details">
            <div class="col-lg-4">
                <div class='form-group'>
                    <label for='price'>Department</label>
                    <div class='input-group'>
                        <select required class='form-control form-control-sm' name='department' id='department'>
                            <option value='Null'>Select Department</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class='form-group'>
                    <label for='price'>Designation</label>
                    <div class='input-group'>
                        <select required class='form-control form-control-sm' name='designation' id='designation'>
                            <option value='Null'>Select Designation</option>
                            <option value='1'>Admin</option>
                            <option value='2'>Not Admin</option>
                        </select>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class='form-group'>
                    <label for='price'>email</label>
                    <div class='input-group'>
                        <input required type='text' name='email' class='form-control form-control-sm' id='email' placeholder=''>
                    </div>
                </div>
            </div>
        </div>
        <div class="row details col-lg-12 mb-4 "><button class="btn btn-primary btn-sm col-lg-4 offset-lg-4" onclick="addUser()">Add user</button></div>
        <div class="header ">
            <h5>Added Users</h5>
        </div>
        <div class="row details">
            <table class="table table-striped table-bordered table-hover mt-2" style="font-size:10px; margin-left:15px;"
                id="report">
                <thead>
                    <tr style="font-size:12px;">
                        <th scope="col" id="serialNo">No</th>
                        <th scope="col" id="serialNo">ID</th>
                        <th scope="col" id="name">names</th>
                        <th scope="col" id="model">Email</th>
                        <th scope="col" id="make">Department</th>
                        <th scope="col" id="make">Date Created</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
        <!-- end -->
            <!-- body end -->
            <br><br>
    </div>
