
<form id='addItem' class="mb-5" enctype="multipart/form-data">
    <div class='row'>
  <div class='col-lg-5'>
      <div class='form-group'>
        <label for='username'>Assign User</label>
          <input required  class='form-control form-control-sm' list="staffNumberList" name='staff_number' id='staffNumber' aria-placeholder="Enter User Staff number Eg. 20" oninput="getStaffNumber(this)">
          <datalist id="staffNumberList">
          </datalist>
      </div>

    <div class='form-group'>
    <label for='price'>Price</label>
      <div class='input-group'>
        <input required type='text' name='value' class='form-control form-control-sm' id='value' placeholder=''>
      </div>
    </div>

    <div class='form-group'>
      <label for='color'>Color</label>
      <input required type='text' class='form-control form-control-sm' name='color' id='color' placeholder='Enter Item color'>
    </div>

      <div class='form-group'>
          <label for='manufacturer'>Manufacturer</label>
          <div class='input-group'>
              <input required type='text' name='manufacturer' class='form-control form-control-sm' id='manufacturer' placeholder='eg. Sony Samsung'>
          </div>
      </div>

      <div class='form-group'>
          <label for='partNumber'>Part Number</label>
          <div class='input-group'>
              <input  required type='text' name='part_number' class='form-control form-control-sm' id='part_number' placeholder=''>
          </div>
      </div>

      <span>Warranty</span>
      <div class='row'>
          <div class='form-group col-lg-6'>
              <label for='years'>Years</label>
              <select required class='form-control form-control-sm' name='warranty_years' id='warranty_years'>
                  <option value='Null'>Select Years</option>
                  <option value='1'>One Year</option>
                  <option value='2'>Two Years</option>
                  <option value='3'>Three Years</option>
                  <option value='4'>Four Years</option>
                  <option value='5'>Five Years</option>
              </select>
          </div>

          <div class='form-group col-lg-6'>
              <label for='months'>Months</label>
              <select  required class='form-control form-control-sm' name='warranty_months' id='warranty_months'>
                  <option value='Null'>Select months</option>
                  <option value='3'>Three months</option>
                  <option value='6'>Six months</option>
                  <option value='9'>Nine months</option>
              </select>
          </div>
      </div>
  </div>

  <!--page division-->
  <div class='col-lg-5'>
<!--      start-->
      <div class='form-group'>
        <label for='location'>Location</label>
          <select required class='form-control form-control-sm' name='branch_id' id='location'>
              <option value='Null'>Select Location</option>
          </select>
      </div>
<!--      end-->
      <div class='form-group'>
          <label for='category'>Category</label>
          <select  class='form-control form-control-sm' name='category_id' id='category'>
              <option value='Null'>Select Category</option>
          </select>
      </div>

      <!-- category section for specs -->
    <div class='form-group'>
        <label for='Model'>Model</label>
        <input  type='text' class='form-control form-control-sm' name='model' id='model' placeHolder="HP G250">
    </div>

    <div class='form-group'>
      <label for='dop'>Date Of Purchase</label>
      <input  type='text' class='form-control form-control-sm' name='purchase_date' id='purchase_date' placeholder='' readonly>
    </div>


    <div class='form-group'>
      <label for='supplier'>Supplier</label>
      <input  type='text' class='form-control form-control-sm' name='supplier' id='supplier' placeholder='Enter Item supplier'>
    </div>

    <div class='form-group'>
    <label for='serialnumber'>Serial Number</label>
        <div class='input-group'>
        <input  type='text' name='serial_number' class='form-control form-control-sm' id='serial_number' placeholder=''>
        </div>
    </div>

        <div class='form-group'>
          <label for='finance_netbook'>Finance value Estimate</label>
          <div class='input-group'>
            <input  type='text' name='finance_netbook' class='form-control form-control-sm' id='finance_netbook' placeholder=''>
          </div>
        </div>

    </div>
    </div>

    <!-- specs -->
    <h5 class='mt-3'>Specifications</h5>
    <p></p>
    <div class="row">
    <div class='col-lg-5'>
      <div class='form-group'>
          <label for='memCapacity'>Memory Capacity</label>
          <input type='text' class='form-control form-control-sm' name ='memory_capacity' id='memory_capacity' placeholder='4gb,8gb,16Gb ...'>
        </div>

      <div class='form-group'>
        <label for='screensize'>Screen Size</label>
        <input type='text' class='form-control form-control-sm' name='screen_size' id='screen_size' placeholder='15.6" 17" 20 " ...'>
      </div>
      <span>Attachments</span><br>
      <div class="custom-file mt-2 mb-4">
        <input type="file" name="attachments" class="custom-file-input" id="attachment" required multiple>
        <label class="custom-file-label" for="attachment">Choose a File</label>
      </div>
  
    </div>
  
    <!--page division-->
    <div class='col-lg-5'>
  <!--      start-->
        <div class='form-group'>
          <label for='processor'>Processor</label>
          <input type='text' class='form-control form-control-sm' name='processor' id='processor' placeholder='Core i3 i5 i7 i9 ...'>        
        </div>
        
      <div class='form-group'>
        <label for='diskCapacity'>Disk Capacity</label>
        <input type='text' class='form-control form-control-sm' name='disk_capacity' id='disk_capacity' placeholder='250Gb,320Gb,500Gb ...'>
      </div>
      <!-- feedback -->
      <div class='form-group'>
        <div class="feedback"></div>
      </div>
      <!-- feedback -->
      
    </div>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <div class="lg-10">
            <div class="form-group">
                <label for='otherSpecs'>Other specifications</label>
                <textarea class='form-control' name='description' id='description' rows='8'></textarea>
            </div>
        </div>
    </div><
      <div></div>
    <button type='submit' id='submitAddItem' class='col-lg-4 offset-lg-3 btn btn-primary btn-block mt-8'>Submit</button>
</div>
</form>