<form id='row'>
  <div class='col-lg-5'>

      <div class='form-group'>
          <div class="form-group">
              <label for="title">Title</label>
              <input type="email" class="form-control" id="title" placeholder="Title ...">
            </div>
      </div>
  </div>

  <!--page division-->
  <div class='col-lg-5'>
    <div class='form-group'>
      <label for='category'>Category</label>
      <select class='form-control' name='category' id='itemId'>
        <option value='Null'>Select Category</option>
        <option value='F993ED0'>Hardware</option>
        <option value='F993ED0'>Software</option>
        <option value='F993ED0'>Printers</option>
      </select>
    </div>
</div>
    <div class='form-group col-lg-8'>
      <label for='reason'>Reason</label>
      <textarea name='reason' class='form-control' name='reason' id='reason' rows='8'></textarea>
    </div>
    <div class="col-lg-8">
      <label for='reason'>Upload File / Attach Documentation</label>
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
            </div>
            <div class="input-group-append">
                <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
    <br><button type='button' id='test' onclick='lease()' class='offset-8 col-lg-4 btn btn-primary btn-block'>Submit</button>
    </div>
    <br>
</form>
