<h5>Add Department</h5>
<form class="show ">
    <div class="form-row">
        <div class="col-lg-3">
        <input type="text" class="form-control form-control-sm" id='thisDept' placeholder="Enter Department Name">
        </div>
        <div class="col">
                <span class="btn btn-sm btn-outline-info" onclick="addDepartment(this)">Add Department</span>
        </div>
    </div>
</form>
<br>




<h5>Add User</h5>
<form id="adduserForm">
    <div class="addDept">
        
    <p></p><p></p>
    <!-- userid -->
    <div class="form-group row">
        <div class="col-lg-5">
          <label for="firstname">Firstname</label>
          <input type="text" id='firstname' class="form-control form-control-sm" name="firstname" placeholder='John'>
          <small class="form-text text-muted"></small>
        </div>

        <div class="col-lg-5">
          <label for="lastname">Lastname</label>
          <input type="text" id='lastname' class="form-control form-control-sm" name="lastname" placeholder='Doe'>
          <small class="form-text text-muted"></small>
        </div>
    </div>
    <!-- password -->
    <div class="form-group row">
      <!-- email -->
        <div class="col-lg-5">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="john.doe@cargen.com" class="form-control form-control-sm ">
        </div>
        <!-- phone -->
        <div class="col-lg-5">
            <label for="phone">Phone Number</label>
            <input type="text" id="phone" name="phone" placeholder="0712345678" class="form-control form-control-sm">
        </div>



    </div>
    <!-- password -->
    <div class="form-group row">
<!--       dept-->
        <div class="form-group col-lg-5">
            <label for="employees">User Department : <small  class="help_info form-text text-muted">Specify The User Speciality.</small></label>
            <select class="form-control form-control-sm" id="userDept"  name="userDept">
                <option value="null" selected>Select The User Department</option>
            </select>
        </div>


        <div class="form-group col-lg-5">
            <label for='condition'>User Role
                <small  class="help_info form-text text-muted">Will Determine The Kind Of Task aUse can Perform.</small>
            </label><br>
            <div class='btn-group btn-group-toggle' data-toggle='buttons'>
                <label class='btn btn-sm btn-secondary active'>
                    <input type='radio' name='userType' value='1' id='admin' autocomplete='off'> Admin
                </label>
                <label class='btn btn-sm btn-secondary'>
                    <input type='radio' name='userType' value='2' id='normal' autocomplete='off' checked> Normal
                </label>
            </div>
        </div>

    </div>

    <!-- buttons -->
    <button class="btn btn-sm btn-primary offset-lg-3 col-lg-4" type="button" id="addUserSubmit">Create User</button>
</form>