<div class="row col-lg-12">
    <div class="asset_card col-lg-4">
        <form class="form-signin">
            <img class="mb-4" src="./images/shield.png" alt="" width="62">
            <h5 class="h5 mb-3 asset_header">Please verify You password</h5>
            <small class="help_info form-text text-muted">Required to verify if one is allowed to access asset
                management.</small><br>
            <div class="form-group">
                <h5 class="asset_creds">Admin : <span id="user_email"></span> </h5>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control form-control-sm" placeholder="Password" />
            </div>
            <span class="btn btn-lg btn-primary btn-block btn-sm" id="btn_asset">Go To Asset</span>
        </form>
    </div>
</div>