<style>
        .infoHeads{
            color: #999;
            font-weight : bold;
        }
        .infoSpace {
            margin-top:7px;
        }
        .text-muted{
            color : #aaa;
        }
        .help_info{
            margin-bottom : 7px;
        }
        .desc{
            margin-left:-30px;
        }
    
    </style>
    
    <div class="row col-lg-12 desc">
        <div class="col-lg-7">
            <br>
            <div id="issueInfo">
                <div class="infoSpace row"><div class="infoHeads col-lg-2">Requestor</div><div class="col-lg-1">:</div><div id="requestor"  class="col-lg-8"></div></div>
                <div class="infoSpace row"><div class="infoHeads col-lg-2">Department</div><div class="col-lg-1">:</div><div id="department"  class="col-lg-8"></div></div>
<!--                <div class="infoSpace row"><div class="infoHeads col-lg-2">Date</div><div class="col-lg-1">:</div><div id="date"  class="col-lg-8"></div></div>-->
                <div class="infoSpace row"><div class="infoHeads col-lg-2">Approved</div><div class="col-lg-1">:</div><div id="approved"  class="col-lg-8"></div></div>
                <div class="infoSpace row"><div class="infoHeads col-lg-2">assigned</div><div class="col-lg-1">:</div><div id="assigned"  class="col-lg-8"></div></div>
            </div>
            <br>
            <div class="infoSpace row"><div class="infoHeads col-lg-3">Request Details</div></div>
            <div class="infoSpace" id="description"><div class="col-lg-10"></div></div>
    
        </div>
        <div class="col-lg-5">
            <p class="text-muted">Attachments</p>
            <div id="change_attachments">
            <br>
        </div>
        <br>
            <p class="text-muted">Workflow Attachments</p>
            <div id="workflow_attachments">
                
            </div>
    </div>
