<form id='escalationForm'>
    <h5>Provide The Reason You Could Not Solve The Following Issue.</h5>
    <h6><u>Issue Details</u></h6>
    <div class="infoSpace row"><div class="infoHeads col-lg-2">Issue</div><div class="col-lg-1">:</div><div id="issue"  class="col-lg-8"></div></div>
    <div class="infoSpace row"><div class="infoHeads col-lg-2">From</div><div class="col-lg-1">:</div><div id="from"  class="col-lg-8"></div></div>
    <div class="infoSpace row"><div class="infoHeads col-lg-2">Issue Id</div><div class="col-lg-1">:</div><div id="issueId"  class="col-lg-8"></div></div>
    <div class="infoSpace row"><div class="infoHeads col-lg-2">Date Submitted</div><div class="col-lg-1">:</div><div id="date"  class="col-lg-8"></div></div>
    <div class="infoSpace row"><div class="infoHeads col-lg-2">Date Assigned</div><div class="col-lg-1">:</div><div id="assigned"  class="col-lg-8"></div></div>
  <!-- buttons -->
  <br>
    <div class='form-group'>
      <label for='reason'>Reason * </label>
      <h6 class='card-subtitle mb-2 text-muted'>Please Provide Specific Issue.</h6>
      <textarea class='form-control col-lg-9' name='reason' id='reason' rows='3'></textarea>
    </div>
<p></p>
  <button class="btn btn-primary offset-lg-5 col-lg-4" type="button" id="escalate">Submit Request</button>
<p></p>
</form>
