

<form class=" row col-lg-12">
    <h4 id="adminHeader">Your Issues</h4>
    <table class="table table-striped table-bordered table-hover" id="adminIssues">
        <thead>
        <tr>
            <th scope="col">Issue ID</th>
            <th scope="col">From</th>
            <th scope="col">Subject</th>
            <th scope="col">Date Recieved</th>
            <th scope="col">Escalated By</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="adminTableBody">

        </tbody>
    </table>

    <h4 id="othersHeade">Issues Assiged To Other Employees</h4>
    <table class="table table-striped table-bordered table-hover" id="newIssues">
        <thead>
        <tr>
            <th scope="col">Issue ID</th>
            <th scope="col">From</th>
            <th scope="col">Subject</th>
            <th scope="col">Date Recieved</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="tableBody">

        </tbody>
    </table>
</form>







