<style>
    .infoHeads{
        color: #999;
        font-weight : bold;
    }
    .infoSpace {
        margin-top:7px;
    }
    .text-muted{
        color : #aaa;
    }
    .complete{
        background-color:#eff;
        /*color:#fefefe;*/
    }
    .desc{
        font-size : 14px;
    }
    #body{
        margin-left : -16px;
    }
    /*.page{*/
    /*    margin-left:-16px;*/
    /*}*/
    /*.btn-light{*/
    /*    border : 4px solid #eee;*/
    /*    border-radius: 10px;*/
    /*}*/
    .terms{
        color : #777;
    }
    .buttons{
        margin-left:20px;
    }
</style>
<div class="page">
    <div class="row"></div>
    <br>
    <div class="row col-lg-12">
        <div class="col-lg-6">
            <img src="./images/notFound.png" alt="NotFound" height="100">
        </div>
        <div class="col-lg-4"></div>
    </div>
    <br>
    <div class="row col-lg-12">
        <div class="col-lg-8">
            <h5>No Records Found</h5>
            <p>There are Currently No Records In This Category.</p>
        </div>
    </div>
</div>