<head>
    <link rel="stylesheet" href="libs/tabs/dist/style.css">
</head>
<!--<div class="row col-lg-11">-->
<!--    <p class="tab_text">-->

<!--    </p>-->
<!--</div>-->
<div class="row col-lg-11">
    <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" id="myTabs2" role="tablist">
            <li class="nav-underline" role="presentation"></li>
            <li id='1' onclick = "tabOut(this)" role="presentation"  style="padding:6px 12px" class="tab active"><a   style="text-decoration: none" href="#home2" id="active-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Active Tracks</a></li>
            <li id='2' onclick = "tabOut(this)" role="presentation" style="padding:6px 12px" class="tab"><a   style="text-decoration: none" href="#profile2" role="tab" id="add-tab" data-toggle="tab" aria-controls="profile">+ Create A Track</a></li>
            <li id='3' onclick = "tabOut(this)" role="presentation" style="padding:6px 12px" class="tab"><a   style="text-decoration: none" href="#dropdown12" role="tab" id="history-tab" data-toggle="tab" aria-controls="profile">History</a></li>
        </ul>

        <div class="tab-content mt-3 tab_text" id="myTabContent2">
            <div id="header"></div>
            <div id="body">
                Create and manage on tasks utility
            </div>
        </div>
    </div>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script  src="libs/tabs/dist/script.js"></script>

