<style>
    .infoHeads{
        color: #999;
        font-weight : bold;
    }
    .infoSpace {
        margin-top:7px;
    }
    .text-muted{
        color : #aaa;
    }
    .complete{
        background-color:#eff;
        /*color:#fefefe;*/
    }
    .desc{
        font-size : 14px;
    }
    #body{
        margin-left : -16px;
    }
    /*.page{*/
    /*    margin-left:-16px;*/
    /*}*/
    /*.btn-light{*/
    /*    border : 4px solid #eee;*/
    /*    border-radius: 10px;*/
    /*}*/
    .terms{
        color : #777;
    }
    .buttons{
        margin-left:20px;
    }
</style>
<div class="page">
    <div class="row col-lg-12">
       Tracking a Ecalation page
    </div>
</div>