

<form class=" row col-lg-12">
    <div class="row col-lg-12">
        <h4 class="col-lg-10"id="adminHeader">IT Support Members</h4><br>
    </div>
    <table class="table table-striped table-bordered table-hover" id="adminIssues">
        <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Email Address</th>
            <th scope="col">Names</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="adminTableBody">

        </tbody>
    </table>
</form>






